<!--
<div *ngIf="breadcrumbs">
  <my-breadcrumbs [breadcrumbs]="breadcrumbs"></my-breadcrumbs>
</div>
-->
<md-list *ngIf="interest" fxLayout="column" fxLayoutAlign="start center">

  <md-list-item class="folder-item"
                *ngFor="let folder of interest.folders"
                (click)="navigate(folder)"
                fxLayout="row"
                fxLayoutAllign="start center">

    <md-icon class="folder-icon" md-list-avatar>folder</md-icon>
    <h4 md-line>{{folder.title}} </h4>
    <p md-line>{{folder.lastLearningSessionDate}}</p>
    <span fxFlex></span>
    <div>
      <p>{{folderService.getFolderNextLearningSessionDate(folder)}}</p>
    </div>
    <div class="folder-item-filler-practiced" [ngStyle]="{width:folder.userProgress.percentPracticed + '%'}"></div>
    <div class="folder-item-filler-mastered" [ngStyle]="{width:40 + '%'}"></div>
  </md-list-item>
</md-list>
