<md-card>
  <md-card-header class="flex-container">

      <md-card-title>Subtitle</md-card-title>
      <md-card-subtitle>Lorem ipsum</md-card-subtitle>
  </md-card-header>
  <md-card-title>{{card.title}}</md-card-title>
  <md-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget urna in libero ultrices volutpat. Donec
    sollicitudin massa et dictum sagittis. Phasellus in vehicula ex. Sed tempor sodales nisl, eu tempor odio
    interdum vitae. Curabitur at eros et libero faucibus convallis in sit amet lorem. Mauris sit amet nunc ut nunc
    dignissim congue. Suspendisse at lectus arcu. Maecenas sed volutpat mi. Cras ac eros in ante iaculis vehicula a
    at diam. Nunc egestas enim eu massa gravida hendrerit. Nunc commodo nibh ut lectus placerat, vel porttitor quam
    varius.
  </md-card-content>
</md-card>
